$font: 'Gilroy', 'Arial', 'Roboto', sans-serif;

$theme: hsl(217, 84%, 55%);
$primary: hsl(0, 0%, 100%);
$secondary: hsl(216, 15%, 20%);

$primary_alternate: hsl(233, 4%, 58%);
$social: desaturate(darken($theme, 20%), 4%);
